#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}



#gamescreen{
  width: 48rem;
  height: 27rem;
  border: solid 1px white;
  background-color: gainsboro;
  position: relative;
}

#frogDiv,
#lanesDiv{
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

#frogDiv{
  z-index: 1;
}

#frog{
  height: 80%;
  position:relative;
}

#lanesDiv{
  z-index: 0;
}

.lane{
  width: 100%;
  height: calc(100% / 7);
  box-shadow: 0 0 0 1px darkslategray inset;
  text-align: left;
}

frog.lane{
  box-shadow: none;
}

.neg{
  text-align: right;
}

.grass{
  background-color: green;
  
}
.road{
  background-color: slategrey;
}